.enterpingame {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.inputpingame{
    margin: auto;
    margin-top: 50px;
}

.submitenterpingame {
    width: 200px;
    margin: auto;
    margin-top: 50px;
}



form input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  form input.error {
    border-color: red;
  }
  
  form button {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
  }
  
  form button:hover {
    background-color: #669509;
  }
  
  form button:disabled {
    background-color: #dbf99f;
    color: #333;
  }
  